@import "tailwindcss";

@theme inline {
  --color-gold: #D68C07;
  --color-forest: #004295;
  --color-warm-white: #FFFDF5;
  --color-dark: #0D1B3E;
  --color-light-green: #E8EFF9;
  --font-serif: var(--font-open-sans);
  --font-sans: var(--font-open-sans);
}

body {
  background: #FFFDF5;
  color: #0D1B3E;
}
